In [1]:
import pandas as pd
import pyspark

In [2]:
pyspark.__version__

'3.5.1'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Hello_World').getOrCreate()

In [17]:
data = spark.read.csv('heart.csv',header=True,nullValue='Nan',inferSchema=True) #defualt false

In [6]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|      0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|      1|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|      0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|      0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|      0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|      0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|      0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|      0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|      0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|      2|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|      0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|      1|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|      0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|      0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|      0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|      1|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|      3|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [7]:
data.head()

Row(Age='40', Sex='M', ChestPainType='ATA', RestingBP='140', Cholesterol='289', FastingBS='0', RestingECG='Normal', MaxHR='172', ExerciseAngina='N', Oldpeak='0', ST_Slope='Up', HeartDisease='0')

In [8]:
data.show(4)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|      0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|      1|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|      0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 4 rows

In [9]:
data.take(3)

[Row(Age='40', Sex='M', ChestPainType='ATA', RestingBP='140', Cholesterol='289', FastingBS='0', RestingECG='Normal', MaxHR='172', ExerciseAngina='N', Oldpeak='0', ST_Slope='Up', HeartDisease='0'),
 Row(Age='49', Sex='F', ChestPainType='NAP', RestingBP='160', Cholesterol='180', FastingBS='0', RestingECG='Normal', MaxHR='156', ExerciseAngina='N', Oldpeak='1', ST_Slope='Flat', HeartDisease='1'),
 Row(Age='37', Sex='M', ChestPainType='ATA', RestingBP='130', Cholesterol='283', FastingBS='0', RestingECG='ST', MaxHR='98', ExerciseAngina='N', Oldpeak='0', ST_Slope='Up', HeartDisease='0')]

In [10]:
data.limit(3)

DataFrame[Age: string, Sex: string, ChestPainType: string, RestingBP: string, Cholesterol: string, FastingBS: string, RestingECG: string, MaxHR: string, ExerciseAngina: string, Oldpeak: string, ST_Slope: string, HeartDisease: string]

In [11]:
#data.collect()

In [12]:
data.columns #same with pandas

['Age',
 'Sex',
 'ChestPainType',
 'RestingBP',
 'Cholesterol',
 'FastingBS',
 'RestingECG',
 'MaxHR',
 'ExerciseAngina',
 'Oldpeak',
 'ST_Slope',
 'HeartDisease']

In [13]:
data.count()

918

In [14]:
len(data.columns)

12

In [15]:
# we often use show in PySpark so dont worry :)

In [20]:
#inferSchema ===> True
data.dtypes

[('Age', 'int'),
 ('Sex', 'string'),
 ('ChestPainType', 'string'),
 ('RestingBP', 'int'),
 ('Cholesterol', 'int'),
 ('FastingBS', 'int'),
 ('RestingECG', 'string'),
 ('MaxHR', 'int'),
 ('ExerciseAngina', 'string'),
 ('Oldpeak', 'double'),
 ('ST_Slope', 'string'),
 ('HeartDisease', 'int')]

In [27]:
data.select('Age','Sex','HeartDisease').show()

+---+---+------------+
|Age|Sex|HeartDisease|
+---+---+------------+
| 40|  M|           0|
| 49|  F|           1|
| 37|  M|           0|
| 48|  F|           1|
| 54|  M|           0|
| 39|  M|           0|
| 45|  F|           0|
| 54|  M|           0|
| 37|  M|           1|
| 48|  F|           0|
| 37|  F|           0|
| 58|  M|           1|
| 39|  M|           0|
| 49|  M|           1|
| 42|  F|           0|
| 54|  F|           0|
| 38|  M|           1|
| 43|  F|           0|
| 60|  M|           1|
| 36|  M|           1|
+---+---+------------+
only showing top 20 rows

In [31]:
data = data.withColumn('Age_Update',data['Age']+2)

In [32]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|Age_Update|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|        42|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|        51|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|        39|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|        50|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|        56|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|        41|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|        47|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|        56|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|        39|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|        50|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|        39|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|        60|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|        41|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|        51|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|        44|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|        56|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|        40|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|        45|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|        62|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|        38|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+----------+
only showing top 20 rows

In [33]:
data = data.drop('Age_Update')

In [34]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [35]:
data = data.withColumnRenamed('HeartDisease','Target')

In [36]:
data.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|Target|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|     0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|     1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|     0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|     1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|    0.0|      Up|     0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|    0.0|      Up|     0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|    0.0|      Up|     0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|    0.0|      Up|     0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|     1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|    0.0|      Up|     0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|    0.0|      Up|     0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|    2.0|    Flat|     1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|    0.0|      Up|     0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|    1.0|    Flat|     1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|    0.0|      Up|     0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|     0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|    0.0|    Flat|     1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|    0.0|      Up|     0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|    1.0|    Flat|     1|
| 36|  M|          ATA|      120|        267|        0|    Normal|  160|             N|    3.0|    Flat|     1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------+
only showing top 20 rows